html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(0deg, #030930, #4899cf, #030930);
}

.source {
    width: 100%;
    height: 100%;
    background-image: url("../images/source.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    opacity: .25;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 60px;
    display: grid;
    grid-template-rows: 130px 1fr 160px;
}

/******** HEADER ********/
.header {
    display: grid;
    grid-template-columns: 275px 1fr;
}

.character-select {
    background-image: url("../images/character-select.png");
    background-repeat: no-repeat;
    background-position: top 17px left 15px;
}

.character-header {
    background-image: url("../images/character-header.png");
    background-repeat: no-repeat;
    background-position: top 11px left 4px;
}


/******** CONTENT ********/
.content {
    background: green;
    opacity: .25
}

/******** FOOTER ********/
.footer {
    background: yellow;
    opacity: .25
}